html {
	font-family: Times, Times New Roman, serif;
 	background-color: #FFFFFF;
}

body {
  width: 1000px;
  margin: 20px auto;
  background-color: #EEEEEE;
  padding: 20px 20px 20px 20px;
  box-shadow: 3px 3px 12px #777;
  /*border: 5px solid black;*/
}

img {
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 5px;
  width: 185px;
}